<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="/">
          <ion-icon name="arrow-back"></ion-icon>
          Regresar
        </ion-button>
      </ion-buttons>
      <ion-title>ANTHONY LAMILLA </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <h3>Input Normal</h3>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Anthony Lamill"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <h3>Formulario Validado {{ formvalid.form.valid }}</h3>
      <form #formvalid="ngForm">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            required="true"
            name="email"
            [(ngModel)]="email"
            [ngModel]="email"
            type="Email"
            placeholder="email"
            [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input
            name="edad"
            required="true"
            [(ngModel)]="edad"
            type="number"
            placeholder="099999999999"
            [ngModelOptions]="{standalone: true}"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de nacimiento</ion-label>
          <ion-input
            [(ngModel)]="fechaNacimiento"
            type="date"
            name="fechaNacimiento"
            required="true"
            [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
        <ion-button expand="full">
          <ion-input (click)="Imprimir()" type="submit"> Registrar </ion-input>
        </ion-button>
      </form>
    </ion-list>
    {{edad}}
  </ion-content>
</div>
